<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel='stylesheet' href='/css/styles.css' />
        <link rel='icon' href='./images/eight.jpg'/>
        <!-- absolute path starts with / and points to root directory, relative path starts with characters. -->
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}  {{!-- Calling the partial    --}}
            <img src='./images/eight.jpg' class="about-img">

        </div>
        
        {{>footer}}
        
    </body>
</html>